{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .products {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin-left: 10%;
            padding: 10px;
            flex-wrap: wrap;
        }
    </style>
    <div class="search">
        <form action="/products/" method="get">
            <input type="text" name="search">
            <input type="submit" value="Search">
        </form>
    </div>
    <div class="products">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
                <img src="/media/{{ product.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    {% for category in product.categories.all %}
                        <p>{{ category.title }}</p>
                    {% endfor %}
                    <a href="/products/{{ product.id }}" class="btn btn-primary">More</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pages">
        {% for page in pages %}
            <a href="/products/?page={{ page }}">
                <button>{{ page }}</button>
            </a>
        {% endfor %}
    </div>
{% endblock %}