{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .products {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin-left: 10%;
            padding: 10px;
            flex-wrap: wrap;
        }
    </style>
    <div class="products">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}