{% extends 'layouts/index.html' %}


{% block content %}

    <style type="text/css">
        .categories {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 70%;
            margin-left: 15%;
        }
    </style>

    <div class="categories">
        {% for category in categories %}
            <a href="/categories">
                <h4>{{ category.title }}</h4>
            </a>
        {% endfor %}
    </div>
{% endblock %}